<div>
  <form>
      <input type="text" id="mensaje" placeholder="Escribe tu mensaje...">
      <input type="text" id="nombre" placeholder="Ingrese su nombre">
      <button id="send">Enviar</button>
  </form>
  <p></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/desafio_2.js"></script>