<div>
  <input type="text" id="mensaje" placeholder="Escirba su mansaje...">
  <p></p>

  <div>
    <p id="mensajes"></p>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/desafio.js"></script>