<div>
  <h1> Restaurar contraseña </h1>
  <form action="/session/restore" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit"> Restaurar contraseña </button>
  </form>

  <a href="/register"> Registrese </a>
  <a href="/login"> Iniciar sesion </a>
</div>