<div>
    <h1>Register</h1>
    <form id="formLogin" class="row p-3">
        <div class="form-control m-1">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-control m-1">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control m-1">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="submit" class="btn btn-primary" id="send" value="Send" />
    </form>
    <a href="/login" class="btn btn-primary"> Login </a>
</div>
<script src="js/register.js"></script>