<div>
  <h1> Inicio de Sesion </h1>
  <form action="/session/login" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">Iniciar Sesion</button>
  </form>

  <a href="/register"> Registrese </a>
</div>