<div>
  <form action="/user" method="post">
    <input type="text" name="nombre" placeholder="Escribe tu nombre"/>
    <input type="email" name="correo" placeholder="Escribe tu correo"/>
    <input type="password" name="password" placeholder="Escribe tu contraseña"/>
    <input type="submit" value="Enviar">
  </form>
</div>