<div>
  <h1> Bienvenidos al chat </h1>
  <input type="text" id="chatbox">
</div>
<div>
  <p id="messageLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>