<div>
  <form id="formLogin" class="row p-3">
    <h1> Login </h1>
    <input
      class="form-control m-1"
      type="text"
      name="email"
      placeholder="Email..."
      id="email"
    />
    <input
      class="form-control m-1"
      type="password"
      name="password"
      placeholder="Password..." 
      id="password"
    />
    <input type="submit" value="Send" class="btn btn-primary" id="send" />
  </form>
  <a href="/register" class="btn btn-success"> Register </a>
</div>

<script src="js/login.js"></script>